@page "/employee"
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Net
@using SalaryCalcWeb.Models
@using SalaryCalcWeb.Services

<EditForm Model="employeeModel">
    <DataAnnotationsValidator />
    <h3>Add Employee</h3>

    <div style="margin-block: 0.2em">
        <strong>First Name:</strong>
        <InputText id="firstName" @bind-Value="employeeModel.FirstName" />
    </div>

    <div style="margin-block: 0.2em">
        <strong>Middle Name:</strong>
        <InputText id="middleName" @bind-Value="employeeModel.MiddleName" />
    </div>

    <div style="margin-block: 0.2em">
        <strong>Last Name:</strong>
        <InputText id="lastName" @bind-Value="employeeModel.LastName" />
    </div>
    <div style="margin-block: 0.2em">
        <strong>Birth Date:</strong>
        <InputDate id="birthDate" @bind-Value="employeeModel.BirthDate" />
    </div>
   
    <button class="btn btn-primary" @onclick="AddEmployee">Add</button>
</EditForm>

@code {

    [Inject] public EmployeeService EmployeeService { get; set; }

    private EmployeeModel employeeModel = new();

    private async void AddEmployee()
    {
        await EmployeeService.InsertEmployee(employeeModel);
    }
}
