@inherits FluxorComponent

@page "/employee"

<PageTitle>Employee</PageTitle>
<DataAnnotationsValidator />

<h3>Add Employee</h3>

<div style="margin-block: 0.2em">
    <strong>First Name:</strong>
    <input @bind-value="State.Value.Employee.FirstName" />
</div>

<div style="margin-block: 0.2em">
    <strong>Middle Name:</strong>
    <input @bind-value="State.Value.Employee.MiddleName" />
</div>

<div style="margin-block: 0.2em">
    <strong>Last Name:</strong>
    <input @bind-value="State.Value.Employee.LastName" />
</div>
<div style="margin-block: 0.2em">
    <strong>Birth Date:</strong>
    <input @bind-value="State.Value.Employee.BirthDate" />
</div>

<button class="btn btn-primary" @onclick="Add">Add</button>