@inherits FluxorComponent

@page "/employee"

<PageTitle>Employee</PageTitle>
<DataAnnotationsValidator />

<SalaryCalcWeb.Pages.Employee.Employees.Employees />


<h3>Add Employee</h3>

<div style="margin-block: 0.2em">
    <strong>First Name:</strong>
</div>

<div style="margin-block: 0.2em">
    <strong>Middle Name:</strong>
</div>

<div style="margin-block: 0.2em">
    <strong>Last Name:</strong>
</div>
<div style="margin-block: 0.2em">
    <strong>Birth Date:</strong>
</div>

<button class="btn btn-primary" @onclick="Add">Add</button>