@inherits FluxorComponent

@if (State.Value.Parameter != null)
{
    <h3>Year parameters</h3>

    <div style="margin-block: 0.2em">
        <strong>Year:</strong>
        <input disabled @bind-value="State.Value.Parameter.Year" />
    </div>

    <div style="margin-block: 0.2em">
        <strong>Min Threshold:</strong>
        <input @bind-value="State.Value.Parameter.MinThreshold" />
    </div>

    <div style="margin-block: 0.2em">
        <strong>Total Income Tax Percentage:</strong>
        <input @bind-value="State.Value.Parameter.TotalIncomeTaxPercentage" />
    </div>

    <div style="margin-block: 0.2em">
        <strong>Health and Social Insurance Percentage:</strong>
        <input @bind-value="State.Value.Parameter.HealthAndSocialInsurancePercentage" />
    </div>

    <div style="margin-block: 0.2em">
        <strong>Max Threshold:</strong>
        <input @bind-value="State.Value.Parameter.MaxThreshold" />
    </div>

    <button @onclick="Update" class="btn btn-primary">Update</button>
}

