@inherits FluxorComponent

@if (State.Value.Salary != null)
{
    <div class="container">
        <form>
            <label>Net Salary</label>
            <input @bind-value="@State.Value.Salary.NetSalary" />

            <label>Tax Total Income</label>
            <input @bind-value="@State.Value.Salary.TaxTotalIncome" />

            <label>Tax Health and Social Insurance</label>
            <input @bind-value="@State.Value.Salary.TaxHealthAndSocialInsurance" />
        </form>
    </div>
}