@page "/"

@inherits FluxorComponent

<PageTitle>Salary Calculator</PageTitle>

    @foreach (var employee in State.Value.Employees)
    {
        <span>@employee.FirstName @employee.LastName</span> <br />
    }     