@page "/employee"
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Net
@using SalaryCalcWeb.Models
@using SalaryCalcWeb.Services

<EditForm Model="employeeModel">
    <DataAnnotationsValidator />
    <PageTitle>Employees</PageTitle>

    <InputText id="firstName" @bind-Value="employeeModel.FirstName" />
    <InputText id="middleName" @bind-Value="employeeModel.MiddleName" />
    <InputText id="lastName" @bind-Value="employeeModel.LastName" />
    <InputDate id="birthDate" @bind-Value="employeeModel.BirthDate" />

    <button class="btn btn-primary" @onclick="AddEmployee">Add</button>
</EditForm>

@code {

    [Inject] public EmployeeService EmployeeService { get; set; }

    private EmployeeModel employeeModel = new();

    private async void AddEmployee()
    {
        await EmployeeService.InsertEmployee(employeeModel);
    }
}
