@page "/"
@using SalaryCalcWeb.Models
@using SalaryCalcWeb.Services

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    [Inject] private EmployeeService EmployeeService { get; set; }
    [Inject] private ParameterService ParameterService { get; set; }
    [Inject] private SalaryService SalaryService { get; set; }

    private List<EmployeeModel> employees = new List<EmployeeModel>();

    protected override async Task OnInitializedAsync()
    {
        var result = await EmployeeService.GetEmployees();
        if(result.Count > 0)
        {
            employees.AddRange(result);
        }
    }
}
