@page "/"
@using SalaryCalcWeb.Models
@using SalaryCalcWeb.Services


<EditForm Model="salaryRequestModel">
    <DataAnnotationsValidator />
    <PageTitle>Salary Calculator</PageTitle>

    <select id="EmployeeId" value="salaryRequestModel.EmployeeId" @onchange="GetEmployeeParameters">
        @foreach (var employee in employees)
        {
            <option value=@employee.Id>@employee.FirstName @employee.LastName</option>
        }
    </select>

    <select id="Year" value="salaryRequestModel.Year" @onchange="GetYearParameters">
        @foreach (var year in years)
        {
            <option value=@year>@year</option>
        }
    </select>

    <InputNumber id="GrossSalary" @bind-Value="salaryRequestModel.GrossSalary" />

    <button class="btn btn-primary" @onclick="Calculate">Calculate</button>
</EditForm>

@if (showParams)
{
    <EditForm Model="parameter" OnValidSubmit="@UpdateYarParameters">
        <InputNumber id="year" @bind-Value="parameter.Year" />
        <InputNumber id="minThreshold" @bind-Value="parameter.MinThreshold" />
        <InputNumber id="totalIncomeTaxPercentage" @bind-Value="parameter.TotalIncomeTaxPercentage" />
        <InputNumber id="healthAndSocialInsurancePercentage" @bind-Value="parameter.HealthAndSocialInsurancePercentage" />
        <InputNumber id="MaxThreshold" @bind-Value="parameter.MaxThreshold" />

        <button class="btn btn-primary" @onclick="UpdateYarParameters">Update Yar Parameters</button>
    </EditForm>
}

@code {
    [Inject] private EmployeeService EmployeeService { get; set; }
    [Inject] private ParameterService ParameterService { get; set; }
    [Inject] private SalaryService SalaryService { get; set; }

    private List<EmployeeModel> employees = new List<EmployeeModel>();
    private List<EmployeeParameterResponseModel> employeeParameters = new List<EmployeeParameterResponseModel>();
    private List<int> years = new List<int>();

    private SalaryRequestModel salaryRequestModel = new SalaryRequestModel();
    private SalaryModel salary = new SalaryModel();
    private ParameterModel parameter = new ParameterModel();

    bool showParams = false;

    protected override async Task OnInitializedAsync()
    {
        var result = await EmployeeService.GetEmployees();
        if (result.Count > 0)
        {
            employees.AddRange(result);
        }

        GetEmployeeParameters(new ChangeEventArgs());
    }

    private async void Calculate()
    {
        salary = await SalaryService.GetNetSalary(salaryRequestModel);
    }

    private async void GetEmployeeParameters(ChangeEventArgs e)
    {
        var index = 0;
        if (int.TryParse((string)e.Value, out index) && index >= 0)
        {
            salaryRequestModel.EmployeeId = index;
        }
        else
        {
            index = 1;
        }

        var result = await ParameterService.GetEmployeeParameter(index);
        if (result.Count > 0)
        {
            if (employeeParameters.Count > 0) employeeParameters = new List<EmployeeParameterResponseModel>();
            employeeParameters.AddRange(result);
            SetSalary(employeeParameters.First().AnnualSalary);
            foreach (var year in employeeParameters)
            {
                if (years.Count > 0) years = new List<int>();
                years.Add(year.Year);
            }

            await GetYearParams(years.First());
            StateHasChanged();
        }
    }

    private async void GetYearParameters(ChangeEventArgs e)
    {
        int year = 0;
        if (int.TryParse((string)e.Value, out year) && year >= 0)
        {
            await GetYearParams(year);
        }
    }

    private async void UpdateYarParameters()
    {
        await ParameterService.UpdateYearParameters(parameter);
    }

    private void SetSalary(double grossSalary)
    {
        salaryRequestModel.GrossSalary = grossSalary;
        StateHasChanged();
    }

    private async Task GetYearParams(int year)
    {
        SetSalary(employeeParameters.Find(x => x.Year == year).AnnualSalary);

        salaryRequestModel.Year = year;
        parameter = await ParameterService.GetParameterByYear(salaryRequestModel.Year);
        if (parameter != null)
        {
            showParams = true;
        }

        StateHasChanged();
    }
}
