<div class="main-navigation">
	<div class="responsive_menu">
		<ul>
			<li><NavLink class="show-1 templatemo_home" Match="NavLinkMatch.All">Gallery</NavLink></li>
			<li><NavLink class="show-2 templatemo_page2" href="#">Products</NavLink></li>
			<li><NavLink class="show-4 templatemo_page4" href="#">About Us</NavLink></li>
		</ul>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 responsive-menu">
				<a href="#" class="menu-toggle-btn">
					<i class="fa fa-bars"></i>
				</a>
			</div> <!-- /.col-md-12 -->
			<div class="col-md-12 main_menu">
				<ul>
					<li><NavLink class="show-1 templatemo_home active" Match="NavLinkMatch.All">Gallery</NavLink></li>
					<li><NavLink class="show-2 templatemo_page2" href="#">Products</NavLink></li>
					<li><NavLink class="show-3 templatemo_page3" href="#">Services</NavLink></li>
				</ul>
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div>